@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem; }

.main {
  grid-column: 1/-1;
  margin-top: 15rem;
  font-size: 1.8rem; }

.button {
  font-size: 1.8rem;
  font-family: "Open Sans";
  padding: 1.5rem 6rem;
  font-weight: 700;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.card-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 40rem; }

.card {
  box-shadow: -1rem 1rem 5rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  align-items: center;
  padding: 5rem; }
  .card img {
    width: 70%; }
  .card__image {
    display: flex;
    justify-content: flex-end; }
    .card__image--left {
      justify-content: center; }
  .card__heading {
    font-size: 4rem;
    margin-bottom: 1.5rem; }
  .card__text {
    width: 80%;
    color: #808d99;
    font-size: 2rem; }
    .card__text--right {
      width: 100%; }
  .card__content {
    margin-left: 20%; }

.CTA {
  width: 60%;
  height: 20rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center; }
  .CTA__heading {
    font-size: 4rem;
    text-transform: capitalize; }
  .CTA__btn {
    background-color: #ff52bf;
    color: #ebfbff;
    text-transform: capitalize;
    padding: 3rem 10rem; }
    .CTA__btn:hover {
      background-color: rgba(255, 82, 191, 0.5); }

@media only screen and (max-width: 1200px) {
  .card {
    row-gap: 5rem; }
    .card__content {
      grid-column: 1/-1;
      margin: 0 auto;
      text-align: center; }
      .card__content--right {
        grid-column: 1/-1;
        margin: 0 auto;
        text-align: center; }
    .card__text {
      width: 70%;
      margin: 0 auto; }
    .card__image {
      grid-column: 1/-1;
      grid-row: 1/2;
      justify-content: center; }
  .CTA {
    width: 100%; }
    .CTA__btn {
      padding: 2rem 6rem; } }

.header {
  background: url("../../images/bg-hero-desktop.svg");
  background-color: #ebfbff;
  object-fit: cover;
  background-size: 100% 100%;
  grid-column: 1/-1; }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 5rem; }
  .navigation__logo img {
    width: 20rem; }
  .navigation__btn {
    background-color: #fff; }
    .navigation__btn:hover {
      background-color: #808d99;
      color: #ff52bf; }

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 0 5rem 5rem 5rem; }

.hero-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 10rem; }
  .hero-content__btn {
    background-color: #ff52bf;
    color: #fff;
    text-transform: capitalize; }
    .hero-content__btn:hover {
      background-color: rgba(255, 82, 191, 0.5); }
  .hero-content__heading {
    width: 80%;
    font-family: "Puppins";
    font-weight: 600;
    font-size: 4rem; }

.hero-image {
  align-self: center; }
  .hero-image img {
    width: 100%; }

@media only screen and (max-width: 1300px) {
  .hero-content__heading {
    width: 100%; } }

@media only screen and (max-width: 1200px) {
  .hero {
    row-gap: 5rem; }
  .hero-content {
    grid-column: 1/-1;
    text-align: center;
    justify-self: center;
    margin-top: 0; }
    .hero-content__heading {
      width: 100%;
      font-size: 3rem; }
    .hero-content__text {
      width: 100%;
      font-size: 1.6rem; }
    .hero-content__btn {
      font-size: 1.6rem; }
  .hero-image {
    grid-column: 1/-1; }
  .navigation {
    padding: 2rem 2rem 5rem 2rem;
    align-items: center; }
    .navigation__btn {
      padding: 1rem 2rem; }
    .navigation__logo img {
      width: 10rem; } }

.display-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.footer {
  background-color: #00252e;
  color: #fff;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 20rem 0 10rem 0;
  font-size: 2rem;
  justify-items: center;
  align-items: center; }

.logo-and-address {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.info-icon-1 {
  display: flex;
  gap: 1rem; }

.info-icon {
  display: flex;
  align-items: center;
  gap: 1rem; }

.icon {
  font-size: 3rem; }

.links-1 {
  grid-column: 4/6; }

.links-2 {
  grid-column: 6/8; }

.social {
  grid-column: 8/10; }

.footer-logo {
  color: #ebfbff; }

.link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .link-list a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    .link-list a:hover {
      color: #ff52bf; }

.social {
  display: flex;
  flex-direction: column;
  gap: 20rem; }
  .social__icons {
    display: flex;
    gap: 3rem; }

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .social-icon a {
    color: #fff;
    transform: translateY(2px); }
  .social-icon:hover {
    border: 1px solid #ff52bf; }

@media only screen and (max-width: 1200px) {
  .footer {
    padding: 20rem 0 2rem 0; }
  .logo-and-address {
    grid-column: 2/-2;
    margin-bottom: 4rem; }
  .links-1 {
    grid-column: 2/-2;
    justify-self: flex-start;
    margin-bottom: 1rem; }
  .links-2 {
    justify-self: flex-start;
    grid-column: 2/-2;
    margin-bottom: 5rem; }
  .social {
    grid-column: 2/-2;
    gap: 4rem;
    justify-content: center;
    align-items: center; } }

.cards {
  grid-column: 2/-2;
  position: relative; }
