// PRIMARY COLORS
$color-primary: hsl(322, 100%, 66%);

// NEUTRAL
$color-white: #fff;
$color-black: #000;

$color-very-pale-cyan: hsl(193, 100%, 96%);
$color-very-dark-cyan: hsl(192, 100%, 9%);
$color-grayish-blue: hsl(208, 11%, 55%);
