*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
}
.main {
  grid-column: 1/-1;
  margin-top: 15rem;
  font-size: 1.8rem;
}
